body {
	background-color: skyblue;
	background: url('../img/6.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: aqua;
	font-family: 'Ubuntu', sans-serif;
}

p {
	font-family: 'Poiret One', cursive;
}

h1 {
	font-size: 40px;
	margin-bottom: 0;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: yellow;
}

#me {
	height: 150px;
	border-radius: 50%;
	border-style: solid;
	border-color: green;
	border-width: 5px;
	margin-top: 50px;
}


.about {
	width: 100%;
	font-size: 18px;
	line-height: 1.5;

}

.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}